# Dependencies
/node_modules
/src/backend/venv

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production build folder
/build

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store